<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="img/fav-icon.png" type="image/x-icon" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Pagina Principal</title>

<style>
table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}

th, td {
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #f2f2f2
}
</style>
<!-- Inicio codigo  que requiere el filtro y el table-->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<script>
	$(document).ready(
			function() {
				$("#myInput").on(
						"keyup",
						function() {
							var value = $(this).val().toLowerCase();
							$("#myTable tr").filter(
									function() {
										$(this).toggle(
												$(this).text().toLowerCase()
														.indexOf(value) > -1)
									});
						});
			});
</script>

<!-- Icon css link -->
<link href="css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Rev slider css -->
<link href="vendors/revolution/css/settings.css" rel="stylesheet">
<link href="vendors/revolution/css/layers.css" rel="stylesheet">
<link href="vendors/revolution/css/navigation.css" rel="stylesheet">

<!-- Extra plugin css -->
<link href="vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>

	<!--================Header Menu Area =================-->
	<header class="main_menu_area">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span></span> <span></span> <span></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{'/home'}">Pagina Principal</a></li>
					<li class="nav-item dropdown submenu"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Nacionalidad </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li class="nav-item"><a class="nav-link"
								th:href="@{'/pais'}">Pais</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{'/departamento'}">Departamento</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{'/ciudad'}">Ciudad</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{'/estudiante'}">Estudiante</a></li>
					<li class="nav-item dropdown submenu"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Datos Personales </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li class="nav-item"><a class="nav-link"
								th:href="@{'/estadoCivil'}">Estado Civil</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{'/tipoIdentificacion'}">Tipo Identificacion</a></li></li>
				</ul>
			</div>
		</nav>
	</header>
	<!--================End Header Menu Area =================-->


	<!--================Slider Area =================-->
	<section class="main_slider_area">
		<div>
			<br> <br> <br> <br> <br> <br>

			<div class="container">
				<form th:action="@{/crearEstudiante}"
					th:object="${estudianteEntidad}" method="POST">
					<h2>INGRESE LOS DATOS DEL ESTUDIANTE</h2>
					<p>Escriba los datos del estudiante que desea crear</p>
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>CODIGO ESTUDIANTE</th>
								<th>CODIGO IDENTIFICACION</th>
								<th>NUMERO IDENTIFICACION</th>
								<th>NOMBRE ESTUDIANTE</th>
								<th>CORREO ELECTRONICO</th> >
							</tr>
						</thead>
						<tbody>
							<tr>
								<td><span th:if="${estudianteEntidad.codigo !=null }"><input
										type="text" th:field="${estudianteEntidad.codigo}" readonly>
								</span></td>
								<td><input type="text" placeholder="tipo identificacion"
									th:field="${estudianteEntidad.tipoIdentificacion}" /></td>
								<td><input type="text" placeholder="numero identificacion"
									th:field="${estudianteEntidad.numeroIdentificacion}" /></td>
								<td><input type="text" placeholder="nombre completo"
									th:field="${estudianteEntidad.nombre}" /></td>
								<td><input type="email" placeholder="nombre@edu.co"
									th:field="${estudianteEntidad.correoElectronico}" /></td>

							</tr>
							<br>
							<tr>
								<th>FECHA DE NACIMIENTO</th>
								<th>CODIGO ESTADO CIVIL</th>
								<th>DIRECCION RESIDENCIA</th>
								<th>CODIGO DE CIUDAD</th>
								<th>CREAR-ACTUALIZAR DATOS</th>
							</tr>
							<tr>
								<td><input type="date" placeholder="2010/01/01"
									th:field="${estudianteEntidad.fechaNacimiento}" /></td>
								<td><input type="text" placeholder="estado civil"
									th:field="${estudianteEntidad.estadoCivil}" /></td>
								<td><input type="text" placeholder="direccion"
									th:field="${estudianteEntidad.direccion}" /></td>
								<td><input type="text" placeholder="codigo ciudad"
									th:field="${estudianteEntidad.codigoCiudad}" /></td>
								<td><input type="submit"
									th:value="${estudianteEntidad.codigo !=null }?'Guardar':' Crear'" /></td>

							</tr>
						</tbody>
					</table>



				</form>

				<br>

				<h2>FILTRAR TABLA</h2>
				<p>Escriba el campo que desea filtrar</p>
				<input class="form-control" id="myInput" type="text"
					placeholder="Search.."> <br>

				</form>
				<div class="container" style="overflow-x: auto;">
					<table class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>CODIGO DEL ESTUDIANTE</th>
								<th>CODIGO TIPO IDENTIFICACION</th>
								<th>NUMERO IDENTIFICACION</th>
								<th>NOMBRE ESTUDIANTE</th>
								<th>CORREO ELECTRONICO</th>
								<th>FECHA DE NACIMIENTO</th>
								<th>CODIGO ESTADO CIVIL</th>
								<th>DIRECCION RESIDENCIA</th>
								<th>CODIGO CIUDAD</th>
								<th>EDITAR ESTUDIANTE</th>
								<th>ELIMINAR ESTUDIANTE</th>
							</tr>
						</thead>
						<tbody id="myTable">
							<tr th:each="estudiante : ${estudiantes}">
								<td th:text="${estudiante.codigo}"></td>
								<td th:text="${estudiante.tipoIdentificacion}"></td>
								<td th:text="${estudiante.numeroIdentificacion}"></td>
								<td th:text="${estudiante.nombre}"></td>
								<td th:text="${estudiante.correoElectronico}"></td>
								<td th:text="${estudiante.fechaNacimiento}"></td>
								<td th:text="${estudiante.estadoCivil}"></td>
								<td th:text="${estudiante.direccion}"></td>
								<td th:text="${estudiante.codigoCiudad}"></td>

								<td><a
									th:href="@{'/editarEstudiante/'+ ${estudiante.codigo}}">Actualizar</a></td>
								<td><a
									th:href="@{'/eliminarEstudiante/' + ${estudiante.codigo}}">
										Eliminar</a></td>

							</tr>
						</tbody>
					</table>
				</div>
				<br>
			</div>

		</div>




	</section>
	<!--================End Slider Area =================-->

	<!--================Footer Area =================-->
	<footer class="footr_area">
		<div class="footer_widget_area">
			<div class="container">
				<div class="row footer_widget_inner">
					<div class="col-lg-4 col-sm-6">
						<aside class="f_widget f_about_widget">
							<img src="img/footer-logo.png" alt="">
							<p>Cras ex mauris, ornare eget pretium sit amet, dignissim et
								turpis. Nunc nec maximus dui, vel suscipit dolor. Donec
								elementum velit a orci facilisis rutrum.</p>
						</aside>
					</div>

				</div>
			</div>
		</div>
		</div>
	</footer>
	<!--================End Footer Area =================-->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- Rev slider js -->
	<script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script
		src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script
		src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script
		src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script
		src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script
		src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script
		src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<!-- Extra plugin css -->
	<script src="vendors/counterup/jquery.waypoints.min.js"></script>
	<script src="vendors/counterup/jquery.counterup.min.js"></script>
	<script src="vendors/counterup/apear.js"></script>
	<script src="vendors/counterup/countto.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
	<script src="js/smoothscroll.js"></script>

	<script src="js/theme.js"></script>


</body>
</html>