<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="img/fav-icon.png" type="image/x-icon" />
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Pagina Principal</title>

<!-- Icon css link -->
<link href="css/font-awesome.min.css" rel="stylesheet">
<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Rev slider css -->
<link href="vendors/revolution/css/settings.css" rel="stylesheet">
<link href="vendors/revolution/css/layers.css" rel="stylesheet">
<link href="vendors/revolution/css/navigation.css" rel="stylesheet">

<!-- Extra plugin css -->
<link href="vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">

<link href="css/style.css" rel="stylesheet">
<link href="css/responsive.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
</head>
<body>

	<!--================Header Menu Area =================-->
	<header class="main_menu_area">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#"><img src="img/logo.png" alt=""></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span></span> <span></span> <span></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{'/home'}">Pagina Principal</a></li>
					<li class="nav-item dropdown submenu"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Nacionalidad </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li class="nav-item"><a class="nav-link"
								th:href="@{'/pais'}">Pais</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{'/departamento'}">Departamento</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{'/ciudad'}">Ciudad</a></li>
						</ul></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{'/estudiante'}">Estudiante</a></li>
					<li class="nav-item dropdown submenu"><a
						class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
						role="button" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false"> Datos Personales </a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<li class="nav-item"><a class="nav-link"
								th:href="@{'/estadoCivil'}">Estado Civil</a></li>
							<li class="nav-item"><a class="nav-link"
								th:href="@{'/tipoIdentificacion'}">Tipo Identificacion</a></li></li>
				</ul>
			</div>
		</nav>
	</header>
	<!--================End Header Menu Area =================-->


	<!--================Slider Area =================-->
	<section class="main_slider_area">
		<div id="main_slider" class="rev_slider" data-version="5.3.1.6">
			<ul>
				<li data-index="rs-1587" data-transition="fade"
					data-slotamount="default" data-hideafterloop="0"
					data-hideslideonmobile="off" data-easein="default"
					data-easeout="default" data-masterspeed="300" data-rotate="0"
					data-saveperformance="off" data-title="Creative" data-param1="01"
					data-param2="" data-param3="" data-param4="" data-param5=""
					data-param6="" data-param7="" data-param8="" data-param9=""
					data-param10="" data-description="">
					<!-- LAYER NR. 1 -->
					<div>
						<div class="tp-caption tp-resizeme first_text"
							data-x="['left','left','left','left','15','center']"
							data-hoffset="['0','80','80','0']"
							data-y="['top','top','top','top']"
							data-voffset="['400','400','400','250','180','180']"
							data-fontsize="['72','72','72','50','50','30']"
							data-lineheight="['82','82','82','62','62','42']"
							data-width="['none']" data-height="none"
							data-whitespace="nowrape" data-type="text"
							data-responsive_offset="on"
							data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
							data-textAlign="['left','left','left','left','left','center']">
							Consulte<br />Nacionalidad
						</div>

						<div class="tp-caption tp-resizeme secand_text"
							data-x="['left','left','left','left','15','center']"
							data-hoffset="['0','80','80','0']"
							data-y="['top','top','top','top']"
							data-voffset="['575','575','575','400','320','300']"
							data-fontsize="['24','24','24','18','16','16']"
							data-lineheight="['36','36','36','26','26','26']"
							data-width="['none','none','none','none','none']"
							data-height="none" data-whitespace="nowrape" data-type="text"
							data-responsive_offset="on" data-transform_idle="o:1;"
							data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
							data-textAlign="['left','left','left','left','left','center']">Ubicado
							en la pestaña superior derecha o pulsa!</div>

						<div class="tp-caption tp-resizeme"
							data-x="['left','left','left','left','15','center']"
							data-hoffset="['0','80','80','0']"
							data-y="['top','top','top','top']"
							data-voffset="['670','670','670','480','370','350']"
							data-fontsize="['14','14','14','14']"
							data-lineheight="['46','46','46','46']" data-width="none"
							data-height="none" data-whitespace="nowrap" data-type="text"
							data-responsive_offset="on"
							data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
							<a class="more_btn" th:href="@{'/pais'}">Pais</a> <a
								class="more_btn" th:href="@{'/departamento'}">Departamento</a> <a
								class="more_btn" th:href="@{'/ciudad'}">Ciudad</a>
						</div>
						<div class="tp-caption tp-resizeme single_img"
							data-x="['right','right','right','right','right','right']"
							data-hoffset="['0','0','0','0']"
							data-y="['top','top','top','top']"
							data-voffset="['180','180','180','180','0']"
							data-fontsize="['65','65','60','40','25']"
							data-lineheight="['75','75','75','50','35']"
							data-width="['485','485','485','485','485']" data-height="none"
							data-whitespace="normal" data-type="text"
							data-responsive_offset="on"
							data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
							data-textAlign="['left','left','left','left','left','center']">
							<img src="img/home-slider/slider-m-1.png" alt="">
						</div>
					</div>
				</li>
				<li data-index="rs-1588" data-transition="fade"
					data-slotamount="default" data-hideafterloop="0"
					data-hideslideonmobile="off" data-easein="default"
					data-easeout="default" data-masterspeed="300" data-rotate="0"
					data-saveperformance="off" data-title="Creative" data-param1="01"
					data-param2="" data-param3="" data-param4="" data-param5=""
					data-param6="" data-param7="" data-param8="" data-param9=""
					data-param10="" data-description="">
					<!-- LAYERS --> <!-- LAYERS --> <!-- LAYER NR. 1 -->
					<div>
						<div class="tp-caption tp-resizeme first_text"
							data-x="['left','left','left','left','15','center']"
							data-hoffset="['0','80','80','0']"
							data-y="['top','top','top','top']"
							data-voffset="['400','400','400','250','180','180']"
							data-fontsize="['72','72','72','50','50','30']"
							data-lineheight="['82','82','82','62','62','42']"
							data-width="['none']" data-height="none"
							data-whitespace="nowrape" data-type="text"
							data-responsive_offset="on"
							data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
							data-textAlign="['left','left','left','left','left','center']">
							Consulte <br />Estudiantes
						</div>

						<div class="tp-caption tp-resizeme secand_text"
							data-x="['left','left','left','left','15','center']"
							data-hoffset="['0','80','80','0']"
							data-y="['top','top','top','top']"
							data-voffset="['575','575','575','400','320','300']"
							data-fontsize="['24','24','24','18','16','16']"
							data-lineheight="['36','36','36','26','26','26']"
							data-width="['none','none','none','none','none']"
							data-height="none" data-whitespace="nowrape" data-type="text"
							data-responsive_offset="on" data-transform_idle="o:1;"
							data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
							data-textAlign="['left','left','left','left','left','center']">Ubicado
							en la pestaña superior derecha o pulse!</div>

						<div class="tp-caption tp-resizeme"
							data-x="['left','left','left','left','15','center']"
							data-hoffset="['0','80','80','0']"
							data-y="['top','top','top','top']"
							data-voffset="['670','670','670','480','370','350']"
							data-fontsize="['14','14','14','14']"
							data-lineheight="['46','46','46','46']" data-width="none"
							data-height="none" data-whitespace="nowrap" data-type="text"
							data-responsive_offset="on"
							data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
							<a class="more_btn" th:href="@{'/estudiante'}">Estudiante</a>
						</div>
						<div class="tp-caption tp-resizeme single_img"
							data-x="['right','right','right','right','right','right']"
							data-hoffset="['0','0','0','0']"
							data-y="['top','top','top','top']"
							data-voffset="['180','180','180','180','0']"
							data-fontsize="['65','65','60','40','25']"
							data-lineheight="['75','75','75','50','35']"
							data-width="['485','485','485','485','485']" data-height="none"
							data-whitespace="normal" data-type="text"
							data-responsive_offset="on"
							data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
							data-textAlign="['left','left','left','left','left','center']">
							<img src="img/home-slider/slider-m-1.png" alt="">
						</div>
					</div>
				</li>
				<li data-index="rs-1589" data-transition="fade"
					data-slotamount="default" data-hideafterloop="0"
					data-hideslideonmobile="off" data-easein="default"
					data-easeout="default" data-masterspeed="300" data-rotate="0"
					data-saveperformance="off" data-title="Creative" data-param1="01"
					data-param2="" data-param3="" data-param4="" data-param5=""
					data-param6="" data-param7="" data-param8="" data-param9=""
					data-param10="" data-description="">
					<!-- LAYERS --> <!-- LAYERS --> <!-- LAYER NR. 1 -->
					<div>
						<div class="tp-caption tp-resizeme first_text"
							data-x="['left','left','left','left','15','center']"
							data-hoffset="['0','80','80','0']"
							data-y="['top','top','top','top']"
							data-voffset="['400','400','400','250','180','180']"
							data-fontsize="['72','72','72','50','50','30']"
							data-lineheight="['82','82','82','62','62','42']"
							data-width="['none']" data-height="none"
							data-whitespace="nowrape" data-type="text"
							data-responsive_offset="on"
							data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
							data-textAlign="['left','left','left','left','left','center']">
							Consulte <br />Datos Personales
						</div>

						<div class="tp-caption tp-resizeme secand_text"
							data-x="['left','left','left','left','15','center']"
							data-hoffset="['0','80','80','0']"
							data-y="['top','top','top','top']"
							data-voffset="['575','575','575','400','320','300']"
							data-fontsize="['24','24','24','18','16','16']"
							data-lineheight="['36','36','36','26','26','26']"
							data-width="['none','none','none','none','none']"
							data-height="none" data-whitespace="nowrape" data-type="text"
							data-responsive_offset="on" data-transform_idle="o:1;"
							data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
							data-textAlign="['left','left','left','left','left','center']">Ubicado
							en la pestaña superior derecha o pulsa!</div>

						<div class="tp-caption tp-resizeme"
							data-x="['left','left','left','left','15','center']"
							data-hoffset="['0','80','80','0']"
							data-y="['top','top','top','top']"
							data-voffset="['670','670','670','480','370','350']"
							data-fontsize="['14','14','14','14']"
							data-lineheight="['46','46','46','46']" data-width="none"
							data-height="none" data-whitespace="nowrap" data-type="text"
							data-responsive_offset="on"
							data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:[100%];s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]">
							<a class="more_btn" th:href="@{'/estadoCivil'}">Estado Civil</a>
							<a class="more_btn" th:href="@{'/tipoIdentificacion'}">Tipo
								Identificacion</a>
						</div>
						<div class="tp-caption tp-resizeme single_img"
							data-x="['right','right','right','right','right','right']"
							data-hoffset="['0','0','0','0']"
							data-y="['top','top','top','top']"
							data-voffset="['180','180','180','180','0']"
							data-fontsize="['65','65','60','40','25']"
							data-lineheight="['75','75','75','50','35']"
							data-width="['485','485','485','485','485']" data-height="none"
							data-whitespace="normal" data-type="text"
							data-responsive_offset="on"
							data-frames="[{&quot;delay&quot;:10,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;0&quot;,&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;s:inherit;e:inherit;&quot;,&quot;to&quot;:&quot;o:1;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:1500,&quot;frame&quot;:&quot;999&quot;,&quot;to&quot;:&quot;y:[175%];&quot;,&quot;mask&quot;:&quot;x:inherit;y:inherit;s:inherit;e:inherit;&quot;,&quot;ease&quot;:&quot;Power2.easeInOut&quot;}]"
							data-textAlign="['left','left','left','left','left','center']">
							<img src="img/home-slider/slider-m-1.png" alt="">
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<!--================End Slider Area =================-->

	<!--================Footer Area =================-->
	<footer class="footr_area">
		<div class="footer_widget_area">
			<div class="container">
				<div class="row footer_widget_inner">
					<div class="col-lg-4 col-sm-6">
						<aside class="f_widget f_about_widget">
							<img src="img/footer-logo.png" alt="">
							<p>Cras ex mauris, ornare eget pretium sit amet, dignissim et
								turpis. Nunc nec maximus dui, vel suscipit dolor. Donec
								elementum velit a orci facilisis rutrum.</p>
						</aside>
					</div>

				</div>
			</div>
		</div>
		</div>
	</footer>
	<!--================End Footer Area =================-->




	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery-3.2.1.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<!-- Rev slider js -->
	<script src="vendors/revolution/js/jquery.themepunch.tools.min.js"></script>
	<script src="vendors/revolution/js/jquery.themepunch.revolution.min.js"></script>
	<script
		src="vendors/revolution/js/extensions/revolution.extension.actions.min.js"></script>
	<script
		src="vendors/revolution/js/extensions/revolution.extension.video.min.js"></script>
	<script
		src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<script
		src="vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
	<script
		src="vendors/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
	<script
		src="vendors/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
	<!-- Extra plugin css -->
	<script src="vendors/counterup/jquery.waypoints.min.js"></script>
	<script src="vendors/counterup/jquery.counterup.min.js"></script>
	<script src="vendors/counterup/apear.js"></script>
	<script src="vendors/counterup/countto.js"></script>
	<script src="vendors/owl-carousel/owl.carousel.min.js"></script>
	<script src="vendors/magnify-popup/jquery.magnific-popup.min.js"></script>
	<script src="js/smoothscroll.js"></script>

	<script src="js/theme.js"></script>
</body>
</html>